@import "tailwindcss";

html, body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-color: #001f54; /* Deep Blue Base */
  overflow: hidden;
}

#root {
  width: 100%;
  height: 100%;
  background: transparent !important;
}
